* {
    font-family: 'Old Standard TT', serif;
}

#todos ul {
    list-style-type: none;
}

#todos li {
    text-align: left;
    display: inline;
    cursor:pointer;
}

#todos li button {
    float: right;
}

.done {
    text-decoration: line-through;
}