* {
    font-family: Verdana, Arial, sans-serif;
}
a {
    color: #70579D;
}
#main{
    max-width: 800px;
    margin: auto;
}
.article{
    border: 1px solid #E8E8E8;
    border-radius: 12px;
    width: auto;
    margin: 0 0 10px 0;
    padding: 10px 12px;
    background-color: #ffffff;
}
.article-name h1{
    font-size: 24px;
    font-family: 'Bangers',cursive;
    letter-spacing: 3px;
    margin-bottom: 0;
}
.article-opt{
    border-radius: 50%;
    float: right;
    height: 24px;
    text-align: center;
    width: 24px;
    line-height: 3.5;
}
.article-opt:hover{
    color: red;
}

.article-overview {
    font-size: 75%;
}
.article-overview a {
    text-decoration: none;
}
.article-overview a:hover{
    text-decoration: underline;
}
.pipe{
    color: #ccc;
    margin: 0 10px;
}
.text-muted{
    opacity: 0.6;
}
.text-small{
    font-size: 85%;
}
.lister-list{
    width: 100%;
    margin-top: 30px;
}
.lister-list > .lister-item {
    background-color: #f6f6f5;
    margin-bottom: 3px;
    padding: 10px 10px 20px;
    display: inline-block;
}
.lister-list > .lister-item > .lister-item-image {
    display: inline-block;
}
.lister-list > .lister-item > .lister-item-image img {
    box-shadow: 3px 2px 3px 1px rgba(0,0,0,0.5);
    height: 200px;
    width: 120px;
}
.lister-list > .lister-item > .lister-item-content{
    width: 80%;
    float: right;
}
.lister-list > .lister-item > .lister-item-content > h3{
    margin: 0 0 0 0.5em;
    padding: 0;
}
.lister-list > .lister-item > .lister-item-content > h3 > a{
    color: #70579D;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bangers', 'cursive';
    letter-spacing: 3px;
}
.lister-list > .lister-item > .lister-item-content > h3 > .lister-item-year{
    font-size: small;
    font-weight: normal;
}
.lister-list > .lister-item > .lister-item-content > .lister-item-summary {
    line-height: 140%;
    font-size: 13px;
    /*overflow: auto;
    max-height: 70px;*/
}
.lister-list > .lister-item > .lister-item-content > .lister-item-summary::first-letter {
    color: #70579D;
    font-size: 1.3em;
}
p.lister-item-summary::selection{
    color: yellow;
    background: red;
}
.lister-list > .lister-item > .lister-item-content a
{
    text-decoration: none;
    color: #70579D;
}