#main {
    /* add CSS here */
    text-align: center;

}
body{
    background-color: darkviolet;
}
.pet {
    /* add CSS here */
    border-style: double;
    border-radius: 73px;
    border-color: #fa0180;
    box-shadow:0px 0px 30px 6px rgba(217,50,50,1);
    cursor: pointer;
    width:20%;

}
p{
 font-size: x-large;
}