
.col{
    float:left;
    text-align: center;
    display: inline;
    width: 100%;
}
.col:hover{
    border:dot-dash;
    background-color: #00ff08;
}

@media only screen and (min-width: 600px) {
        .col{
            width: 50%;
        }
}

@media only screen and (min-width: 800px) {
    .col{
        width: 33.33%;
    }
}

@media only screen and (min-width: 1000px) {
    .col{
        width: 25%;
    }
}

@media only screen and (min-width: 1200px) {
    .col{
        width: 20%;
    }
}
